<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About - ASCII Art Generator</title>
    <link rel="stylesheet" href="static/styles.css"/>
</head>
<body>
    <header class="sticky-header">
        <div class="header-container">
            <a href="/">
                <img src="images/logo.png" alt="Logo" class="logo">
            </a>
            <div class="nav-buttons">
                <a href="/"><button class="nav-button">Back Home</button></a>
            </div>
        </div>
    </header>
    <main>
        <section class="about-section">
            <h3>Overview</h3>
            <p>The ASCII Art Generator web app is designed to provide a fun and simple way to create ASCII art from your text. Follow the steps below to generate and view your ASCII art:</p>
            
            <h3>Steps to Use the Web App</h3>
            
            <ol>
                <li><b>Access the Web App:</b>
                    <ul>
                        <li>Open your web browser and go to the URL where the web app is hosted.</li>
                    </ul>
                </li>
                <li><b>Enter Input Text:</b>
                    <ul>
                        <li>In the main form, find the text area labeled "Enter Input Text Here". Type the text you want to convert into ASCII art in this text area.</li>
                    </ul>
                </li>
                <li><b>Select Banner Type:</b>
                    <ul>
                        <li>Below the text area, there is a dropdown menu labeled "Select Banner Type." Choose any option for your desired output.</li>
                    </ul>
                </li>
                <li><b>Generate ASCII Art:</b>
                    <ul>
                        <li>Click the "Generate ASCII Art" button to submit your input. Your generated ASCII art will be displayed in the "ASCII Art Output" section.</li>
                    </ul>
                </li>
                <li><b>Reset the Form:</b>
                    <ul>
                        <li>If you want to start over, click the "Reset" button to clear the output.</li>
                    </ul>
                </li>
            </ol>
            
            <h3>Possible Sources of Errors</h3>
            
            <ul>
                <li><b>Empty Input Text:</b>
                    <ul>
                        <li>If you submit the form without entering any text, the web app will not generate any ASCII art. Ensure that you enter some text before clicking the "Generate ASCII Art" button.</li>
                    </ul>
                </li>
                <li><b>Server Errors:</b>
                    <ul>
                        <li>If the server hosting the web app encounters an issue, you may see an error message or the page may fail to load. In such cases, try refreshing the page or checking back later.</li>
                    </ul>
                </li>
                <li><b>Unsupported Characters:</b>
                    <ul>
                        <li>The ASCII art generator may not support certain special characters or non-English characters. Stick to standard alphanumeric characters to avoid this issue.</li>
                    </ul>
                </li>
                <li><b>Script Errors:</b>
                    <ul>
                        <li>If there are any bugs in the server-side code, the web app might not function correctly.</li>
                    </ul>
                </li>
            </ul>

            <h3>Authors</h3>
            <table>
                <tr>
                    <td align="center" style="width: 150px; height: 150px;">
                        <a href="https://www.linkedin.com/in/rodgers-kaunda">
                            <img src="https://learn.zone01kisumu.ke/git/avatars/aa19095145ab1ad43695e3cd3f7f3a5b?size=870" width="100" style="border-radius:50%; padding-top:10px;" alt="krodgers"/>
                            <br />
                            <sub style="font-size:14px"><b>krodgers</b></sub>
                        </a>
                    </td>
                    <td align="center" style="width: 150px; height: 150px;">
                        <a href="https://www.linkedin.com/in/swabri-musa-565350291?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Buf0Ls4oWR2O2WLUMO5sIBg%3D%3D">
                            <img src="https://learn.zone01kisumu.ke/git/avatars/bc7899a0aac2630a0a9b50bf330437a7?size=870" width="100" style="border-radius:50%; padding-top:10px;" alt="skanenje"/>
                            <br />
                            <sub style="font-size:14px"><b>skanenje</b></sub>
                        </a>
                    </td>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>
