<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Status Bad Request</title>
    <link rel="stylesheet" href="static/errors.css"/>
</head>
<body>

    <main>
        <form id="asciiForm" >
            <div class="container">
                <h2>Method Not Allowed - Invalid Request Method</h2>
                <hr>
                <p>HTTP Error 405. Method Not Allowed.</p>
            </div>
        </form>

    </main>
    <div class="button-container">
        <a href="/"><button type="button">Return Home</button></a>
    </div>
</body>
</html>